{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>TODO Done List</h1>
    <p>
        <a href="{% url 'todo:todo_list' %}" class="btn btn-primary">Home</a>
    </p>
    <ul class="list-group">
        {% for done in dones %}
        <li class="list-group-item">
            <a href="{% url 'todo:todo_detail' pk=done.pk %}">{{ done.title }}</a>
            {% if todo.important %}
                <span class="badhe badhe-danger">!</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}