{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>TODO Post</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %} {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}